/* Reset some default browser styles */
body, h1, h2, ul, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    background: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #444;
    margin-bottom: 10px;
}

section#about p {
    text-align: justify;
}

section#features ul {
    list-style: inside square;
}

section#features li {
    margin-bottom: 5px;
}

section#download p {
    margin-bottom: 10px;
}

section#download a {
    display: inline-block;
    background: #28a745;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

section#download a:hover {
    background: #218838;
}

footer {
    text-align: center;
    padding: 20px;
    background: #444;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
